In [1]:
#project: p7
#submitter: ytian83
#partner: none

In [2]:
import csv

fifa_file = open('Fifa19.csv', encoding='utf-8')
file_reader = csv.reader(fifa_file)
player_data = list(file_reader)
fifa_file.close()
header = player_data[0]
player_data = player_data[1:]

#what did this do? change the type of age and overall to a float? 
for row in player_data:
    for idx in [2,4]:
        row[idx] = float(row[idx])

In [3]:
print(header)
for row in player_data[:5]:
    print(row)

['Id', 'Name', 'Age', 'Nationality', 'Overall', 'Club', 'Value', 'Wage', 'Preferred Foot', 'Jersey Number', 'Height', 'Weight']
['158023', 'L. Messi', 31.0, 'Argentina', 94.0, 'FC Barcelona', '€110.5M', '€565K', 'Left', '10', "5'7", '159lbs']
['20801', 'Cristiano Ronaldo', 33.0, 'Portugal', 94.0, 'Juventus', '€77M', '€405K', 'Right', '7', "6'2", '183lbs']
['190871', 'Neymar Jr', 26.0, 'Brazil', 92.0, 'Paris Saint-Germain', '€118.5M', '€290K', 'Right', '10', "5'9", '150lbs']
['193080', 'De Gea', 27.0, 'Spain', 91.0, 'Manchester United', '€72M', '€260K', 'Right', '1', "6'4", '168lbs']
['192985', 'K. De Bruyne', 27.0, 'Belgium', 91.0, 'Manchester City', '€102M', '€355K', 'Right', '7', "5'11", '154lbs']

In [7]:
#q1

def q1():
    oldest=0
    player=""
    for i in range (len(player_data)):
        if player_data[i][2]> oldest:
            oldest=player_data[i][header.index("Age")]
            player=player_data[i][1]
    return player
        
q1()

'O. Pérez'

In [5]:
#q2

def q2():
    highest=0
    player=""
    for i in range (len(player_data)):
        wage=player_data[i][header.index("Wage")][1:]
        if wage.endswith("K"):
            wage=wage[:-1]+"000"
        if wage.endswith("M"):
            wage=wage[:-1]+"000000"
        if float(wage) > float(highest):
            highest= wage
            player=player_data[i][1]
    return player
        
q2()

'L. Messi'

In [9]:
#q3


def q3():
    highest=0
    player=""
    for i in range (len(player_data)):
        value = player_data[i][header.index("Value")][1:]
        if value.endswith("K"):
            value=float(value[:-1]) * 1000
        elif value.endswith("M"):
            value=float(value[:-1]) *1000000
        elif value.endswith("B"):
            value=float(value[:-1])*1000000000
        if float(value) > float(highest):
            highest= value
            player=player_data[i][1]
    return player
        
q3()

'Neymar Jr'

In [11]:
#q4

def q4():
    for i in range (len(player_data)):
        row=player_data[i]
        if row[1] == q3():
            return row[5]

q4()

'Paris Saint-Germain'

In [15]:

def get_column(col_name):
    list=[]
    for i in range(len(player_data)):
        list.append(player_data[i][header.index(str(col_name))])
    return list

#q5
get_column("Nationality")[:5]

['Argentina', 'Portugal', 'Brazil', 'Spain', 'Belgium']

In [16]:
#q6

names=get_column("Name")
names.sort()
names[:5]

['A. Abang', 'A. Abdellaoui', 'A. Abdennour', 'A. Abdi', 'A. Abdu Jaber']

In [27]:
#q7

def q7(list):
    value_list=get_column(str(list))
    total=0
    for i in value_list:
        i=i[1:]
        if i.endswith("K"):
            i=float(i[:-1]) * 1000
        elif i.endswith("M"):
            i=float(i[:-1]) *1000000
        elif i.endswith("B"):
            i=float(i[:-1])*1000000000
        total += float(i)
    average_value=total/len(value_list)
    return average_value

q7("Value")

2410695.8861976163

In [30]:
#q8

age=get_column("Age")
average=sum(age)/len(age)
average

25.122205745043114

In [40]:
#q9

def player_count(country):
    count=0
    for i in player_data:
        row=i
        if str(row[3]) == str(country):
            count +=1
    return count
player_count("Portugal")

322

In [41]:
#q10

player_count("Brazil")

827

In [47]:
#q11
country=list(set(get_column("Nationality")))
count={}
for i in country:
    count[i]=player_count(i)
most = None
for key in count:
    if most == None or count[most] < count[key]:
        most = key
most

'England'

In [58]:


def player_to_dict(player_id):
    key=header
    row=[]
    a={}
    for i in player_data:
        if i[0]==player_id:
            row=i
    for idx in range(len(key)):
        a[key[idx]] = row[idx]
    return a


#q12

player_to_dict("20801")

{'Id': '20801',
 'Name': 'Cristiano Ronaldo',
 'Age': 33.0,
 'Nationality': 'Portugal',
 'Overall': 94.0,
 'Club': 'Juventus',
 'Value': '€77M',
 'Wage': '€405K',
 'Preferred Foot': 'Right',
 'Jersey Number': '7',
 'Height': "6'2",
 'Weight': '183lbs'}

In [59]:
#q13 
player_to_dict("190871")

{'Id': '190871',
 'Name': 'Neymar Jr',
 'Age': 26.0,
 'Nationality': 'Brazil',
 'Overall': 92.0,
 'Club': 'Paris Saint-Germain',
 'Value': '€118.5M',
 'Wage': '€290K',
 'Preferred Foot': 'Right',
 'Jersey Number': '10',
 'Height': "5'9",
 'Weight': '150lbs'}

In [60]:
#q14
player_to_dict("158023")

{'Id': '158023',
 'Name': 'L. Messi',
 'Age': 31.0,
 'Nationality': 'Argentina',
 'Overall': 94.0,
 'Club': 'FC Barcelona',
 'Value': '€110.5M',
 'Wage': '€565K',
 'Preferred Foot': 'Left',
 'Jersey Number': '10',
 'Height': "5'7",
 'Weight': '159lbs'}

In [61]:
#q15
player_to_dict("192985")

{'Id': '192985',
 'Name': 'K. De Bruyne',
 'Age': 27.0,
 'Nationality': 'Belgium',
 'Overall': 91.0,
 'Club': 'Manchester City',
 'Value': '€102M',
 'Wage': '€355K',
 'Preferred Foot': 'Right',
 'Jersey Number': '7',
 'Height': "5'11",
 'Weight': '154lbs'}

In [62]:
#q16
country=list(set(get_column("Nationality")))
count={}
for i in country:
    count[i]=player_count(i)
count

{'Finland': 67,
 'Puerto Rico': 1,
 'Jordan': 1,
 'Austria': 298,
 'Belize': 1,
 'Iraq': 7,
 'Bermuda': 2,
 'Japan': 478,
 'Eritrea': 2,
 'United Arab Emirates': 1,
 'Kosovo': 33,
 'Lithuania': 8,
 'Latvia': 6,
 'Republic of Ireland': 368,
 'Morocco': 85,
 'Belarus': 4,
 'Croatia': 126,
 'Gabon': 15,
 'Kenya': 10,
 'Germany': 1198,
 'Antigua & Barbuda': 4,
 'Ecuador': 43,
 'Costa Rica': 30,
 'Cape Verde': 19,
 'Central African Rep.': 3,
 'England': 1662,
 'Poland': 350,
 'Sweden': 397,
 'Togo': 12,
 'Botswana': 1,
 'São Tomé & Príncipe': 1,
 'Chile': 391,
 'Kazakhstan': 4,
 'Ghana': 114,
 'Saudi Arabia': 340,
 'Moldova': 5,
 'Belgium': 260,
 'India': 30,
 'Trinidad & Tobago': 4,
 'Mozambique': 4,
 'Israel': 14,
 'Albania': 40,
 'Palestine': 1,
 'Northern Ireland': 80,
 'Malta': 1,
 'Armenia': 10,
 'Norway': 341,
 'Rwanda': 1,
 'Curacao': 14,
 'Czech Republic': 100,
 'Burundi': 3,
 'Argentina': 937,
 'Guinea': 31,
 'Cuba': 4,
 'Venezuela': 67,
 'Grenada': 1,
 'Bolivia': 30,
 'Liechtenstein': 3,
 'Spain': 1072,
 'St Kitts Nevis': 3,
 'Nicaragua': 2,
 'Syria': 9,
 'Egypt': 31,
 'Serbia': 126,
 'Barbados': 3,
 'Slovakia': 54,
 'Mali': 43,
 'Gambia': 15,
 'Turkey': 303,
 'Indonesia': 1,
 'Tunisia': 32,
 'Montenegro': 23,
 'Comoros': 6,
 'Faroe Islands': 6,
 'Brazil': 827,
 'Uzbekistan': 2,
 'Russia': 79,
 'Zimbabwe': 13,
 'Equatorial Guinea': 5,
 'Libya': 4,
 'Afghanistan': 4,
 'Peru': 37,
 'Australia': 236,
 'Estonia': 13,
 'New Zealand': 44,
 'Honduras': 16,
 'Slovenia': 55,
 'Iran': 17,
 'Qatar': 1,
 'Bulgaria': 32,
 'Congo': 25,
 'Panama': 15,
 'Tanzania': 3,
 'Cyprus': 8,
 'Algeria': 60,
 'El Salvador': 5,
 'Niger': 3,
 'Burkina Faso': 16,
 'Hong Kong': 2,
 'Suriname': 4,
 'Colombia': 618,
 'Mexico': 366,
 'Senegal': 130,
 'Sudan': 3,
 'Korea Republic': 335,
 'Paraguay': 85,
 'DR Congo': 52,
 'Thailand': 5,
 'Angola': 15,
 'Denmark': 336,
 'Oman': 1,
 'Scotland': 286,
 'Netherlands': 453,
 'Philippines': 2,
 'Hungary': 38,
 'South Sudan': 1,
 'France': 914,
 'Georgia': 26,
 'Ethiopia': 1,
 'FYR Macedonia': 20,
 'Liberia': 1,
 'Kuwait': 1,
 'Ivory Coast': 100,
 'Chad': 2,
 'Madagascar': 12,
 'Haiti': 10,
 'Dominican Republic': 2,
 'China PR': 392,
 'Guinea Bissau': 15,
 'Bosnia Herzegovina': 61,
 'Lebanon': 1,
 'Canada': 64,
 'Iceland': 47,
 'Italy': 702,
 'Cameroon': 90,
 'Korea DPR': 4,
 'New Caledonia': 1,
 'United States': 353,
 'Mauritius': 1,
 'Luxembourg': 8,
 'Greece': 102,
 'Uruguay': 149,
 'Fiji': 1,
 'Montserrat': 4,
 'Benin': 15,
 'Sierra Leone': 6,
 'Zambia': 9,
 'Andorra': 1,
 'Guatemala': 3,
 'Guam': 1,
 'Uganda': 6,
 'Jamaica': 32,
 'Nigeria': 121,
 'South Africa': 71,
 'St Lucia': 1,
 'Portugal': 322,
 'Azerbaijan': 5,
 'Guyana': 3,
 'Romania': 54,
 'Namibia': 3,
 'Mauritania': 4,
 'Ukraine': 73,
 'Switzerland': 220,
 'Wales': 129}

In [67]:
#q17

def player_count_plus(a):
    count=0
    for i in player_data:
        row=i
        if str(row[9]) == str(a):
            count +=1
    return count

title=list(set(get_column("Jersey Number")))
count={}
for i in title:
    count[i]=player_count_plus(i)
count

{'90': 26,
 '': 60,
 '59': 5,
 '39': 107,
 '65': 4,
 '41': 53,
 '47': 28,
 '4': 573,
 '79': 2,
 '32': 250,
 '67': 5,
 '7': 604,
 '9': 577,
 '69': 6,
 '89': 15,
 '31': 280,
 '50': 42,
 '10': 593,
 '3': 547,
 '11': 590,
 '53': 11,
 '14': 542,
 '84': 4,
 '13': 419,
 '36': 145,
 '2': 519,
 '46': 29,
 '37': 135,
 '6': 586,
 '75': 6,
 '73': 6,
 '54': 11,
 '29': 358,
 '64': 2,
 '81': 5,
 '66': 27,
 '87': 14,
 '22': 531,
 '18': 545,
 '1': 566,
 '55': 35,
 '44': 74,
 '93': 14,
 '72': 7,
 '23': 546,
 '99': 70,
 '48': 17,
 '94': 11,
 '38': 102,
 '60': 10,
 '33': 287,
 '51': 7,
 '28': 357,
 '57': 8,
 '35': 183,
 '83': 6,
 '97': 16,
 '70': 29,
 '20': 568,
 '42': 54,
 '95': 12,
 '27': 423,
 '24': 425,
 '34': 207,
 '17': 554,
 '77': 77,
 '71': 10,
 '56': 17,
 '26': 390,
 '30': 371,
 '78': 5,
 '92': 10,
 '8': 612,
 '19': 545,
 '58': 5,
 '63': 4,
 '98': 21,
 '68': 4,
 '86': 4,
 '80': 16,
 '49': 19,
 '76': 4,
 '96': 13,
 '85': 1,
 '21': 536,
 '74': 2,
 '45': 47,
 '40': 114,
 '91': 21,
 '52': 10,
 '88': 44,
 '12': 390,
 '25': 409,
 '16': 517,
 '15': 501,
 '5': 579,
 '43': 41,
 '62': 6,
 '82': 5,
 '61': 7}

In [84]:
#q18

title=list(set(get_column("Jersey Number")))
s={}
for i in title:
    total=0
    for row in player_data:
        if str(row[9])== str(i):
            total= total+row[4]
    s[i]= total

result = {}
for key in count:
    result[key] = s[key] / count[key]
result

{'90': 65.61538461538461,
 '': 61.63333333333333,
 '59': 57.2,
 '39': 62.52336448598131,
 '65': 58.5,
 '41': 61.37735849056604,
 '47': 63.57142857142857,
 '4': 67.76614310645724,
 '79': 71.5,
 '32': 62.152,
 '67': 64.6,
 '7': 68.87251655629139,
 '9': 69.28769497400347,
 '69': 68.66666666666667,
 '89': 65.4,
 '31': 63.06785714285714,
 '50': 62.30952380952381,
 '10': 70.38617200674537,
 '3': 67.38939670932358,
 '11': 68.3406779661017,
 '53': 62.45454545454545,
 '14': 66.9870848708487,
 '84': 63.75,
 '13': 66.90214797136038,
 '36': 60.5448275862069,
 '2': 67.58766859344894,
 '46': 60.206896551724135,
 '37': 61.785185185185185,
 '6': 68.19283276450511,
 '75': 66.5,
 '73': 64.33333333333333,
 '54': 61.0,
 '29': 63.92178770949721,
 '64': 62.5,
 '81': 65.0,
 '66': 63.77777777777778,
 '87': 68.35714285714286,
 '22': 66.31638418079096,
 '18': 66.45688073394496,
 '1': 68.35689045936395,
 '55': 63.0,
 '44': 64.70270270270271,
 '93': 67.28571428571429,
 '72': 65.0,
 '23': 66.46886446886447,
 '99': 64.35714285714286,
 '48': 61.470588235294116,
 '94': 66.72727272727273,
 '38': 61.77450980392157,
 '60': 64.1,
 '33': 63.29965156794425,
 '51': 58.0,
 '28': 63.943977591036415,
 '57': 68.125,
 '35': 60.92896174863388,
 '83': 67.66666666666667,
 '97': 62.4375,
 '70': 64.72413793103448,
 '20': 66.7306338028169,
 '42': 62.5,
 '95': 65.25,
 '27': 64.36170212765957,
 '24': 64.65411764705883,
 '34': 62.072463768115945,
 '17': 66.9115523465704,
 '77': 66.1038961038961,
 '71': 64.5,
 '56': 65.11764705882354,
 '26': 64.04358974358975,
 '30': 63.1644204851752,
 '78': 65.6,
 '92': 68.9,
 '8': 68.83006535947712,
 '19': 66.63669724770642,
 '58': 62.8,
 '63': 69.0,
 '98': 60.904761904761905,
 '68': 67.0,
 '86': 64.0,
 '80': 63.4375,
 '49': 59.68421052631579,
 '76': 68.0,
 '96': 64.53846153846153,
 '85': 57.0,
 '21': 66.2723880597015,
 '74': 67.5,
 '45': 62.0,
 '40': 61.51754385964912,
 '91': 66.76190476190476,
 '52': 61.8,
 '88': 66.5,
 '12': 65.43076923076923,
 '25': 64.59413202933985,
 '16': 66.08510638297872,
 '15': 66.53493013972056,
 '5': 68.49740932642487,
 '43': 60.048780487804876,
 '62': 62.0,
 '82': 59.8,
 '61': 61.57142857142857}

In [88]:
#q19
best = None
for key in result:
    if best == None or result[best] < result[key]:
        best = key

best

'79'

In [92]:
#q20
def player_count_club(a):
    count=0
    for i in player_data:
        row=i
        if str(row[5]) == str(a):
            count +=1
    return count

title=list(set(get_column("Club")))
count={}
for i in title:
    count[i]=player_count_club(i)

b={}
for i in title:
    total=0
    for row in player_data:
        if str(row[5])== str(i):
            wage=row[7][1:]
            if wage.endswith("K"):
                wage=float(wage[:-1])*1000
            elif wage.endswith("M"):
                wage=float(wage[:-1])*1000000
            total= total+ float(wage)
    b[i]= total

result = {}
for key in count:
    result[key] = b[key] / count[key]

best = None
for key in result:
    if best == None or result[best] < result[key]:
        best = key

best

'Real Madrid'